*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: #f7f7f7;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 40px;
  color: #fff;
  position: relative;
}

.logo{
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 40px;
   position: relative;
}

.nav-links li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
}



/* === Mega Menu === */
.mega-menu{
  position: absolute;
  width: 100%;
  left: 0;
  top: 150%;
  background: white;
  padding: 30px;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  border-top: 3px solid #111;
}

.mega-menu .mega-column h3{
  margin-bottom: 10px;
  font-size: 18px;
  color: #111;
}

.mega-menu .mega-column a{
  display: block;
  margin: 5px 0;
  color: #333;
  text-decoration: none;
}

.dropdown:hover .mega-menu{
  display: grid;
}

/* ==== Responsive ==== */
.hamburger{
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 900px){
  .nav-links{
    position: absolute;
    background: #111;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
  }

  .mega-menu{
    grid-template-columns: repeat(2, 1fr);
  }

  .hamburger{
    display: block;
  }

  .dropdown:hover .mega-menu{
    display: none; /* mobile hover disabled */
  }

  .dropdown .mega-menu{
    position: relative;
    background: #222;
    color: white;
    border: none;
    padding: 15px;
  }

  .mega-menu a{
    color: white;
  }
}
